<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-8">Contacts list</div>
      <div class="col-md-4">
        <button class="btn btn-info btn-sm btn-block" id="add_button" (click)="newContact()">Add</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    
    <table class="table table-hover" [hidden]="!contacts">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" id="first_name">First Name</th>
          <th scope="col">Last Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts; index as i" [ngClass]="{'selected': contact?.id === selectedContact?.id}" (click)="contactSelected(contact)">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ contact.first_name }}</td>
          <td>{{ contact.last_name }}</td>
        </tr>
      </tbody>
    </table>
    
  </div>
</div>